
<div class="col-md-8 mx-auto">
    <button (click)="gotoList()" class="btn btn-primary">لائحة الفئات</button> <br> <br>
    <!-- <button (click)="gotoList()" class="btn btn-primary" style="float: right;">Liste des projets</button><br><br> -->
    <div class="card">
        <div class="card-header" style="display: block;text-align: right;">
            إضافة إستفادة جديدة
        </div>
        <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSaveAffectation(f)">
           
                 
          
                            <div class="row">
                              
                                <div class="col">
                                    <div class="form-group">
                                        <label  class="control-label" style="display: block;text-align: right;">
                                            : * الفئة بالفرنسية
                                        </label>
                                        <input type="text" name="nameAr" style="text-align: right;" ngModel class="form-control">
                                    </div> 
                                 
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label  class="control-label" style="display: block;text-align: right;">
                                            : * الفئة
                                        </label>
                                        <input type="text" name="name" style="text-align: right;" ngModel class="form-control">
                                    </div> 
                                
                                </div>
                            </div>
                      
                      
                         
                      
                           
                           
                    
                    
                      
                       <div>
                        <button class="btn btn-success"  style="float: right; margin-left: 7px;" type="submit">حفظ</button>
                 
                        <button class="btn btn-danger" style="float: right;" type="button" (click)="reset(f)">إلغاء</button>
                  
                       </div>
            
    
        </form>
    </div>
    </div>
</div>
