td,th{
    text-align: right;
}
/* table{
    border: 1px solid black;;
} */
/* tbody tr:nth-child(3n) {
    border-bottom: 4px solid #000;
  }
  */
  table td ,table th{
    border: 1px solid black !important;

}
th,td{
    text-align: center;
}