<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">

    <div class="container">
      
      <button (click)="logout()" *ngIf="pdiService.jwtToken" class="btn btn-danger ml-auto">تسجيل الخروج</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- <button  class="btn btn-danger ml-auto">تسجيل الخروج</button> -->
      <ul class="navbar-nav" style="margin-left: auto;">
        <!-- <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home </a>
        </li> -->
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/dash2']" [routerLinkActive]="['is-active']">Dash2 </a>
        </li>
        &nbsp;
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/dash']" [routerLinkActive]="['is-active']">Dash1 </a>
        </li>
        &nbsp;
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/stocks']" [routerLinkActive]="['is-active']">المخازين </a>
        </li>
        &nbsp;
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/statistiques']" [routerLinkActive]="['is-active']">إحصائيات </a>
        </li>
        &nbsp;
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/services']" [routerLinkActive]="['is-active']">الملحقات الإدارية </a>
        </li>
        &nbsp;
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/categories']" [routerLinkActive]="['is-active']">الفئات </a>
        </li>
        &nbsp;
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/types']" [routerLinkActive]="['is-active']">أنواع الحصص </a>
        </li>
        &nbsp;
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/mokararin']" [routerLinkActive]="['is-active']"> المكررين</a>
        </li>
        &nbsp;
     
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/affectations3']" [routerLinkActive]="['is-active']"> PC-MF</a>
        </li>
        &nbsp;
     
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/affectations2']" [routerLinkActive]="['is-active']">PN</a>
        </li>
        &nbsp;
         
        <li class="nav-item" *ngIf="pdiService.jwtToken">
          <a class="nav-link" style="color: white;" [routerLink]="['zonn/affectations']" [routerLinkActive]="['is-active']"> PC</a>
        </li>
        &nbsp;
        <h3 style="text-align: center;color: white;" *ngIf="!pdiService.jwtToken">
          تدبير لوائح الإستفادات
        </h3>
   
        
      
      </ul>
  
    </div>
  </div>
  </nav>
  <div class="mt-4">
    <router-outlet> </router-outlet>
   
  </div>
  <!-- <footer>

    edededed
  </footer>
  
   -->